/***********************************

            Chatbox

***********************************/

#chat-messages {
  /* Box-model */
  height: 125px;
  overflow: auto;
}

#chat-bar {
  /* Positioning */
  position: absolute;
  bottom: 10px;
}

#chat-input {
  /* Box-model */
  width: 550px;
}

#chat-send {
  /* Box-model */
  width: 40px;
}

.player1 {
  /* Visual */
  color: #419d78;
}

.player2 {
  /* Visual */
  color: #2d3047;
}

.player0 {
  color: #000;

  /* Visual */
  background-color: #d3d3d3;
}
